
.custom-list {
    list-style-type:none;
    padding-left: 20px; 
    display: flex;
    flex-wrap: wrap; 
}


.custom-list li {
    width: 50%; 
    padding-top: 30px; 
    padding-left: 70px;
    padding-bottom: 30px;
    padding-right: 70px;
    box-sizing: border-box;
    animation: crush 2s ease forwards; 
    color: white;
    
}


@keyframes crush {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(0.5); 
    }
    100% {
        transform: scale(1); 
    }
}

.perse {
    font-size: 54px;
    margin-top: 20px;
    padding-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
    color: white;
}
.ground{
    position: relative; 
    background-image: url(final.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden; 
}